
.leaflet-top.leaflet-left {
    display: none;
}

.navbar-default {
  .brand {
    float: left;
    padding: 5px 40px 0 10px;
    background-color: #fff;
  }
}

.navbar-btn {
  float: left;
  padding: 7px 0;
}
.navbar-default{
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: 0 1px 10px rgba(#000,.4);
  box-shadow: 0 1px 10px rgba(#000,.4);

  .navbar-btn button {
      font-size: 24px;
      padding: 4px 8px;
      line-height: .7;
      border: none;
      background: none;
      outline: none;
  }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 20px;
  }
  .navbar-nav{
    > li{
      &.active{
        
        border-bottom: 3px solid $color_1;
        a, a:hover{
          color: $color_1;
          background-color: transparent;
        }
      }
      >a {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 12px;
        &:hover{
          color: $color_1;
        }
      }
    }
  }
  .navbar-nav>.open>a, 
  .navbar-nav>.open>a:focus, 
  .navbar-nav>.open>a:hover {
      color: $color_1;
      background-color: transparent;
  }
  .navbar-nav{
    > li{
      .dropdown-menu{
        padding: 0;
        min-width: 140px;
        margin-top: 0;
        border-radius: 0;
        text-align: center;
        > li{
          > a{
            padding: 10px 10px;
          }
        }
      }
    }
    .dropdown-menu{
      font-size: 12px;
      border-bottom: 4px solid $color_1;
    }
  }
  .info-user{
    display: inline-table;
    line-height: 1.4em;
    span{
      font-size: 11px;
      color: #ccc;
      display: block;
      font-style: italic;
    }
  }
  .fa-caret-down{
    margin-left: 10px;
  }
  .nav-info-user{
    margin-left: 80px;
    > li > a {
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 12px;
    }
  }
}

#wrapper {
  #sidebar-nav, 
  #wrapper .main {
    padding-top: 80px;
  }
  .sidebar{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 260px;
    height: 100%;
    float: left;
    background-color: #2B333E;
    position: fixed;
    left: 0;
  }

  .main {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 260px);
    height: 100vh;
    left: 0;
    position: relative;
    float: right;
    background-color: #fff;

    .maps-wraper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
    }

    .main-content{
      padding-top: 80px;
      position: absolute;
      z-index: 999;
    }
  }

}
.sidebar{
  z-index: 999;
  .nav > li > a {
    padding: 18px 30px;
    color: #AEB7C2;
    border-left: 5px solid transparent;
    i{
      margin-right: 10px;
    }
    &:hover{
      color: #fff;
      background-color: transparent;
      i{
        color: $color_1;
      }
    }
  }
}

.layout-fullwidth #wrapper {
  .sidebar {
    left: -260px;
  }
  .main {
      width: 100%;
  }
}

.api-page{
  min-width: 360px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  display: none;
  .header{
    background-color: $color_1;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    .close{
      text-align: right;
      display: block;
      float: none;
      color: #fff;
      text-shadow: none;
      opacity: 1;
    }
  }
  .body{
    padding: 10px 20px;
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        padding: 15px 0px;
        position: relative;
        img{
          margin-right: 10px;
        }
        label {
          cursor: pointer;
          &:before, &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 12px;
          };
          &:before{
            width: 20px;
            height: 20px;
            background: #fff;
            border: 2px solid rgba(0, 0, 0, 0.54);
            border-radius: 2px;
            cursor: pointer;
            transition: background .3s;
          }

        }
        input[type="checkbox"]{
          display: none;
        }
        a{
          color: #000;
          text-decoration: none;
          &:hover{
            color: $color_1;
          }
        }
        input[type="checkbox"] {
          outline: 0;
          margin-right: 10px;
        }
        input[type="checkbox"]:checked + label:before {
          background: #337ab7;
          border: none;
        }
        input[type="checkbox"]:checked + label:after {
          transform: rotate(-45deg);
          top: 17px;
          right: 4px;
          width: 12px;
          height: 6px;
          border: 2px solid #fff;
          border-top-style: none;
          border-right-style: none;
        }
      }
    }
  }
}

